* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    font-family: "Inter", sans-serif;
    background-color: #EEEEEE;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    text-align: center;
}

span {
    font-size: 24px;
    color: #EEEEEE;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: #393E46;
    
}

.checkBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: #393E46;
    font-style: italic;
    font-weight: 300;
}

.location-details span{
    font-style: italic;
    font-size: 18px;
}

.current-temp {
    font-size: 48px;
    font-weight: bold;
}

.weather-details span {
    font-size: 18px;
    font-style: italic;
}

.temps span {
    font-size: 20px;
    font-weight: 500;
}

.timezone span {
    font-style: italic;
    font-size: 18px;
}

.humidty-pressure span {
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}

.wind span{
    font-size: 15px;
}

.main-content {
    border: 0.5px solid #d6d6d6;
    border-radius: 10%;
    padding: 80px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #00ADB5;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.head-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.remaning-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.img-container {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 40%;
  background-color: #EEEEEE;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.searchInput {  
    width: 100%;
    padding: 5px 20px;
    margin: 5px 0;
    border-radius: 10px;
    border: 2px solid #222831;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#lonInput,
#latInput {
    width: 100%;
}

button {
    appearance: none;
    -webkit-appearance: none;

    padding: 5px;
    border: none;
    background-color: #222831;
    color: #EEEEEE;
    font-weight: 600;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border-radius: 15px;
    background-color: #393E46;
    color: #EEEEEE;
}

.display-none {
    display: none;
}

.search-bar-l,
.search-bar-c {
    width: 300px;
}

/* Responsive */

@media screen and (max-width: 550px) {
    .main-content {
        padding: 50px;
    }

    h2 {
        font-size: 16px;      
    }

    .checkBtns {
        gap: 20px;
    }

    .location-details span{
        font-size: 16px;
    }

    .current-temp {
        font-size: 40px;
    }

    .weather-details span {
        font-size: 16px;
    }

    .temps span {
        font-size: 18px;
    }

    .timezone span {
        font-size: 16px;
    }

    .humidty-pressure span {
        font-size: 20px;
    }

    .wind span{
        font-size: 13px;
    }

    .search-bar-l,
    .search-bar-c {
    width: 250px;
}
}


@media screen and (max-width: 420px) {
    .main-content {
        padding: 30px;
    }

    h2 {
        font-size: 15px;      
    }

    .checkBtns {
        gap: 10px;
    }

    .location-details span{
        font-size: 14px;
    }

    .current-temp {
        font-size: 36px;
    }

    .weather-details span {
        font-size: 14px;
    }

    .temps span {
        font-size: 16px;
    }

    .timezone span {
        font-size: 14px;
    }

    .humidty-pressure span {
        font-size: 18px;
    }

    .wind span{
        font-size: 11px;
    }

    .search-bar-l,
    .search-bar-c {
    width: 200px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 12px;
    }
    .checkBtns {
        flex-direction: column;
    }
}